[add.interactive]
	useBuiltin = false

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[log]
	date = local

[merge]
	conflictstyle = diff3

[pull]
	rebase = interactive

[user]
	email = 47466248+carlosecp@users.noreply.github.com
	name = Carlos Castillo

# delta-git
[delta]
	light = false
	navigate = true 
	side-by-side = true
