[init]
	defaultBranch = main
[user]
	email = 47466248+carlosecp@users.noreply.github.com
	name = Carlos Castillo
[log]
	date = local
[format]
	pretty = format:%C(auto,yellow)%h%C(auto,magenta) %C(auto,blue)%>(24,trunc)%ad %C(auto,yellow)%an %Creset%s%C(auto,red)% gD% D
